@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;500;600&family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(210deg, rgb(190, 85, 104), rgb(112, 161, 226), rgb(119, 207, 119))
}

.checked-icon {
    display: none;
    justify-content: center;
    position: relative;
    color: crimson;
    font-size: 96px;
}

marquee {
    color: rgb(129, 11, 34);
    width: 100%;
    height: 25px;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #000;
}

footer {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
}

footer.active {
    background: rgba(255, 255, 255, .2);
    /* width: 80%;
    float: right; */
}

footer p {
    margin-top: 30px;
    color: #000;
}

span {
    color: #4a95f7;
    font-size: 64px;
    /* box-shadow: 0px 0px 5px; */
}

.btn {
    width: 100px;
    height: 40px;
    background-color: #4a95f7;
    border-radius: 7.5px;
    border: 1px solid #000;
    box-shadow: 0px 0px 5px #555;
}

.btn:hover {
    cursor: pointer;
    transition: all .5s ease;
}

#netfeel {
    width: 100%;
    min-height: 100vh;
}

.header {
    width: 100%;
    height: 95px;
    background: rgba(255, 255, 255, .2)
}

.header-field {
    width: 100%;
    height: 95px;
    display: flex;
    background: rgba(255, 255, 255, .5);
}

.header-field.active {
    background: rgba(0, 0, 0, .03)
}

.header .logo {
    width: 30%;
    text-align: center;
    margin: 10px 0px;
    font-size: 48px;
}

.header .logo a {
    /* background: #4e4e4e; */
    box-shadow: 0px 0px 7.5px #000;
}

.header-items {
    width: 70%;
    display: flex;
}

.search-title {
    display: none;
}

.search-panel {
    width: 70%;
    text-align: center;
    margin-top: 30px;
    display: block;
}

.search-panel.active {
    display: none;
}

#search {
    width: 50%;
    height: 50px;
    font-size: 18px;
    list-style: none;
    outline-offset: -1px;
    outline-color: #4a95f7;
    border-top-left-radius: 30pc;
    border-bottom-left-radius: 30pc;
}

.search-panel .btn-search {
    position: relative;
    height: 50px;
    top: -2px;
    margin-left: -5px;
    background-color: #ddd;
    border-radius: none;
    border-bottom: 2px solid rgb(153, 144, 144);
    border-top-right-radius: 30pc;
    border-bottom-right-radius: 30pc;
    box-shadow: none;
}

#search:hover,
.btn-search:hover {
    border-bottom: 2px solid #000;
    transition: all .5s ease;
    cursor: default;
}

.sign-in {
    width: 30%;
    margin: 30px;
}

.sign-in.active {
    width: 70%;
    text-align: end;
}

.btn-sign-in {
    width: 150px;
    font-size: 18px;
    border: 1px solid #000;
    border-radius: 30pc;
}

#main {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    background: linear-gradient(210deg, rgb(190, 85, 104), rgb(112, 161, 226), rgb(119, 207, 119))
}

#components {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .09)
    /* border: 1px solid #000; */
}

#components .component-header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, .09)
}

.component-header i {
    margin-top: 30px;
    font-size: 28px;
    margin: auto 10px;
    color: #135bb9;
}

.component-header i:hover {
    cursor: pointer;
    color: #fff;
    transform: scale(110%);
    transition: all .1s ease;
}

.component-header .fa-chevron-right {
    font-size: 18px;
}

.component-header .fa-chevron-right:hover {
    cursor: auto;
    color: #135bb9;
}

#components .component-body {
    height: 400px;
    display: flex;
    flex-direction: column;
}

.component-body .row {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    /* padding: 10px 0; */
}

.component-body .row:hover {
    background: rgba(0, 0, 0, .09);
    color: #fff;
    cursor: pointer;
}

.component-body .row i,
.component-body .row h4 {
    margin: 30px 40px;
}

.component-body .row h4 {
    margin-left: -20px;
}

.component-footer {
    height: 60px;
    position: relative;
}

.contents {
    width: 80%;
    /* background: rgb(112, 161, 226); */
}