@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;500;600&family=Poppins:wght@400;500;600&display=swap');
#view {
    width: 100%;
    height: 75vh;
    display: none;
    justify-content: center;
}

.content {
    width: 70%;
    height: 450px;
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    justify-content: center;
    background: #fff;
}

.content .row {
    width: 40%;
    height: 350px;
    margin: 60px 30px;
    padding: 10px;
    background: #fff;
    box-shadow: 0px 0px 15px #999;
    /* border: 1px solid #222; */
    border-radius: 15px;
}

.content .row:hover {
    transform: scale(105%);
    cursor: pointer;
    transition: all .5s ease;
}

.head {
    width: 100%;
    min-height: 100px;
    display: flex;
}

.head img {
    width: 30%;
    height: 120px;
    border-radius: 25px;
    margin: 0px 10px;
}

.short-information {
    width: 70%;
    margin-left: 20px;
    font-size: 20px;
}

.title {
    font-size: 28px;
    text-align: center;
}

p {
    margin-top: 5px;
    color: #666;
}

.information {
    width: 90%;
    margin: 20px;
    font-size: 20px;
}

.view button {
    width: 80%;
    margin: 0px 10%;
    border: none;
}

.view .checked-btns {
    width: 100%;
    display: none;
    justify-content: center;
}

.choose-btn-danger {
    background: none;
    color: crimson;
    box-shadow: 0 0 3px crimson;
}

.choose-btn-danger:hover,
.choose-btn-success:hover {
    transform: scale(105%);
    background: crimson;
    color: #fff
}

.choose-btn-success {
    background: none;
    box-shadow: 0 0 3px #4a95f7;
}

.choose-btn-success:hover {
    transform: scale(105%);
    background: #4a95f7;
    color: #fff
}